{% comment %}
  Minimal Mistakes social links sidebar.
  Override default by placing _includes/social-links.html
{% endcomment %}

<ul class="links">
  <li><a href="https://github.com/sorelferris" class="github"><i class="fab fa-github"></i> GitHub</a></li>
  <li><a href="/roadmap/" class="roadmap"><i class="fas fa-route"></i> Roadmap</a></li>
  <li><a href="/reading/" class="reading"><i class="fas fa-book-open"></i> Reading</a></li>
  <li><a href="/now/" class="now"><i class="fas fa-clock"></i> Now</a></li>
</ul>
